# Lab1: Pre-processing

### 1. Read and show the properties of dataset "iris_data_with_missing_values.csv"

In [41]:
#First import the required liberaries 
import pandas as pd
import numpy as np
df=pd.read_csv("iris_data_with_missing_values.csv",header=None)
#1.sepal length 2. sepal width 3. petal length 4. petal width 5. class
#df.columns=['sepal length','sepal width','petal length','petal width','class']
df.describe()

                0           1           2           3
count  147.000000  147.000000  147.000000  148.000000
mean     5.908844    3.138776    3.836735    1.197297
std      1.116190    1.226111    1.821187    0.768243
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max     15.000000   17.000000   10.000000    2.500000

### 2. Print first 20 rows of the dataset

In [26]:
df.head(20)

      0    1     2    3            4
0   5.1  3.5   1.4  0.2  Iris-setosa
1   4.9  3.0   1.4  0.2  Iris-setosa
2   4.7  3.2   1.3  0.2  Iris-setosa
3   4.6  3.1   1.5  0.2  Iris-setosa
4   5.0  3.6   1.4  0.2  Iris-setosa
5   5.4  3.9   1.7  0.4  Iris-setosa
6   4.6  3.4   1.4  0.3  Iris-setosa
7   5.0  3.4  10.0  0.2  Iris-setosa
8   4.4  2.9   1.4  0.2  Iris-setosa
9   4.9  3.1   1.5  0.1  Iris-setosa
10  5.4  3.7   1.5  0.2  Iris-setosa
11  4.8  3.4   1.6  0.2  Iris-setosa
12  4.8  3.0   1.4  0.1  Iris-setosa
13  4.3  3.0   1.1  0.1  Iris-setosa
14  5.8  4.0   1.2  0.2  Iris-setosa
15  5.7  NaN   1.5  0.4  Iris-setosa
16  5.4  3.9   1.3  0.4  Iris-setosa
17  5.1  3.5   1.4  0.3  Iris-setosa
18  5.7  3.8   1.7  0.3  Iris-setosa
19  5.1  3.8   1.5  0.3  Iris-setosa

### 3. Find the number of zeroes in all the columns

In [44]:
#ask colmwise or entire colms ?
(df.iloc[[0,1,2,3]]==0).sum()  #first time sum() to give from all colm wise and then one more from entire colms.

0    0
1    0
2    0
3    0
4    0
dtype: int64

### 4. Find the number of null values in the dataset

In [45]:
df.isnull().sum().sum()   #total sum of null values in entire dataset

14

### 5. Replace the zeroes with Nan values in selected attribute (say attribute 1 and 3)

In [46]:
#df.iloc[[1,3]].replace('0',np.nan,inplace=True)
df.iloc[[0,3]]=df.iloc[[0,3]].replace(0,np.nan)

df.head(10)

     0    1     2    3            4
0  5.1  3.5   1.4  0.2  Iris-setosa
1  4.9  3.0   1.4  0.2  Iris-setosa
2  4.7  3.2   1.3  0.2  Iris-setosa
3  4.6  3.1   1.5  0.2  Iris-setosa
4  5.0  3.6   1.4  0.2  Iris-setosa
5  5.4  3.9   1.7  0.4  Iris-setosa
6  4.6  3.4   1.4  0.3  Iris-setosa
7  5.0  3.4  10.0  0.2  Iris-setosa
8  4.4  2.9   1.4  0.2  Iris-setosa
9  4.9  3.1   1.5  0.1  Iris-setosa

### 6. Find the number of rows having missing values

In [47]:
count=0
for idx,row in df.iterrows():
    if any(row.isnull()):
        count=count+1
        
print(count)

13

### 7. Find the number of null values in a dataset

In [48]:
df.isnull().sum().sum()

14

### 8. Discard the records with missing values

In [55]:
df.dropna(inplace=True)    
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### 9. Find the number of records after discarding null values

In [56]:
df.shape

(137, 5)

### 10. Replace missing value with the mean and print the output

In [57]:
df.fillna(df.mean(),inplace=True)
df.isnull().sum()  #becoz of categorical attribue gives non zero value

0    0
1    0
2    0
3    0
4    0
dtype: int64

### 11. Replace missing value with the median and print the output

In [58]:
df.fillna(df.median())
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

### 12. Create a dataframe and label the columns

In [59]:
#1.sepal length 2. sepal width 3. petal length 4. petal width 5. class
df.columns=['sepal length','sepal width','petal length','petal width','class']
df.head(10)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4          10.0          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

### 13. Sample the dataset with and without replacement (20%data)

In [60]:
df.sample(frac=0.2,replace = False , random_state=None)

     sepal length  sepal width  petal length  petal width            class
127           6.1          3.0           4.9          1.8   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
107           7.3          2.9           6.3          1.8   Iris-virginica
115           6.4          3.2           5.3          2.3   Iris-virginica
33            5.5          4.2           1.4          0.2      Iris-setosa
26            5.0          3.4           1.6          0.4      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
0             5.1          3.5           1.4          0.2      Iris-setosa
71            6.1          2.8           4.0          1.3  Iris-versicolor
90            5.5          2.6           4.4          1.2  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
65            6.7          3.1           4.4          1.4  Iris-versicolor
80            5.5          2.4           3.8          1.1  Iris-versicolor
88            5.6          3.0           4.1          1.3  Iris-versicolor
24            4.8          3.4           1.9          0.2      Iris-setosa
34            4.9          3.1           1.5          0.1      Iris-setosa
43            5.0          3.5           1.6          0.6      Iris-setosa
79            5.7          2.6           3.5          1.0  Iris-versicolor
133           6.3          2.8           5.1          1.5   Iris-virginica
95            5.7          3.0           4.2          1.2  Iris-versicolor
70            5.9          3.2           4.8          1.8  Iris-versicolor
76            6.8          2.8           4.8          1.4  Iris-versicolor
121           5.6          2.8           4.9          2.0   Iris-virginica
113           5.7          2.5           5.0          2.0   Iris-virginica
106           4.9          2.5           4.5          1.7   Iris-virginica
13            4.3          3.0           1.1          0.1      Iris-setosa
1             4.9          3.0           1.4          0.2      Iris-setosa

### 14. Normalize the dataset using z-score normalization

In [61]:
df_z=df.iloc[:,0:4]
df_z_score=(df_z-df_z.mean())/df_z.std()

df_z_score.head(10)

   sepal length  sepal width  petal length  petal width
0     -0.708949     0.292927     -1.329393    -1.314511
1     -0.884267    -0.102842     -1.329393    -1.314511
2     -1.059584     0.055465     -1.384053    -1.314511
3     -1.147243    -0.023688     -1.274733    -1.314511
4     -0.796608     0.372081     -1.329393    -1.314511
5     -0.445972     0.609543     -1.165413    -1.052755
6     -1.147243     0.213773     -1.329393    -1.183633
7     -0.796608     0.213773      3.371360    -1.314511
8     -1.322561    -0.181996     -1.329393    -1.314511
9     -0.884267    -0.023688     -1.274733    -1.445389

### 15. Find the outliers using z-score normalization

In [68]:
df_z_score[ (df_z_score>3) | (df_z_score<-3) ]

     sepal length  sepal width  petal length  petal width
0             NaN          NaN           NaN          NaN
1             NaN          NaN           NaN          NaN
2             NaN          NaN           NaN          NaN
3             NaN          NaN           NaN          NaN
4             NaN          NaN           NaN          NaN
5             NaN          NaN           NaN          NaN
6             NaN          NaN           NaN          NaN
7             NaN          NaN       3.37136          NaN
8             NaN          NaN           NaN          NaN
9             NaN          NaN           NaN          NaN
10            NaN          NaN           NaN          NaN
11            NaN          NaN           NaN          NaN
12            NaN          NaN           NaN          NaN
13            NaN          NaN           NaN          NaN
14            NaN          NaN           NaN          NaN
16            NaN          NaN           NaN          NaN
17            NaN          NaN           NaN          NaN
18            NaN          NaN           NaN          NaN
19            NaN          NaN           NaN          NaN
20            NaN          NaN           NaN          NaN
22            NaN          NaN           NaN          NaN
23            NaN          NaN           NaN          NaN
24            NaN          NaN           NaN          NaN
25            NaN          NaN           NaN          NaN
26            NaN          NaN           NaN          NaN
27            NaN          NaN           NaN          NaN
28            NaN          NaN           NaN          NaN
29            NaN          NaN           NaN          NaN
30       7.969276          NaN           NaN          NaN
31            NaN          NaN           NaN          NaN
..            ...          ...           ...          ...
118           NaN          NaN           NaN          NaN
119           NaN          NaN           NaN          NaN
120           NaN          NaN           NaN          NaN
121           NaN          NaN           NaN          NaN
122           NaN          NaN           NaN          NaN
123           NaN          NaN           NaN          NaN
124           NaN          NaN           NaN          NaN
126           NaN          NaN           NaN          NaN
127           NaN          NaN           NaN          NaN
128           NaN          NaN           NaN          NaN
129           NaN          NaN           NaN          NaN
130           NaN          NaN           NaN          NaN
131           NaN          NaN           NaN          NaN
132           NaN          NaN           NaN          NaN
133           NaN          NaN           NaN          NaN
134           NaN          NaN           NaN          NaN
135           NaN          NaN           NaN          NaN
136           NaN          NaN           NaN          NaN
137           NaN          NaN           NaN          NaN
138           NaN          NaN           NaN          NaN
139           NaN          NaN           NaN          NaN
140           NaN          NaN           NaN          NaN
141           NaN          NaN           NaN          NaN
142           NaN          NaN           NaN          NaN
143           NaN          NaN           NaN          NaN
144           NaN          NaN           NaN          NaN
145           NaN          NaN           NaN          NaN
146           NaN          NaN           NaN          NaN
147           NaN          NaN           NaN          NaN
148           NaN          NaN           NaN          NaN

[137 rows x 4 columns]

### 16. Normalize the dataset using min-max normalization

In [32]:
normalize=df_z

normalize=(normalize-normalize.min())/normalize.max()-normalize.min()

normalize.head(10)

   sepal length  sepal width  petal length  petal width
0     -4.246667    -1.911765         -0.96        -0.06
1     -4.260000    -1.941176         -0.96        -0.06
2     -4.273333    -1.929412         -0.97        -0.06
3     -4.280000    -1.935294         -0.95        -0.06
4     -4.253333    -1.905882         -0.96        -0.06
5     -4.226667    -1.888235         -0.93         0.02
6     -4.280000    -1.917647         -0.96        -0.02
7     -4.253333    -1.917647         -0.10        -0.06
8     -4.293333    -1.947059         -0.96        -0.06
9     -4.260000    -1.935294         -0.95        -0.10

### 17. Write the code to discritize an attribute into 6 bins (third attribute)

In [64]:
x=df_z.iloc[:,3]
bins=np.array([0.0,0.5,1.0,1.5,2.0,2.5])   #bins of fixed width
inds=np.digitize(x,bins,right=False)
inds

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 3, 4, 4, 3, 4, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3,
       4, 3, 3, 3, 3, 4, 4, 3, 3, 3, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 6, 4, 5, 4, 5, 5, 4, 4, 4, 5, 5, 5, 5, 5, 4, 5, 5, 4, 5,
       5, 5, 4, 5, 4, 4, 5, 4, 4, 5, 5, 4, 3, 5, 5, 4, 4, 5, 5, 5, 4, 5,
       6, 5, 4, 5, 5], dtype=int64)

### 18. Find the correlation coeffiecient

In [65]:
#b/w col 1,2
x1=df_z.iloc[:,0]
x2=df_z.iloc[:,1]
x1.corr(x2)

-0.04227361607331795