# Lab1: Pre-processing

### 1. Read and show the properties of dataset "iris_data_with_missing_values.csv"

In [ ]:
#First import the required liberaries

### 2. Print first 20 rows of the dataset

In [ ]:
ahjhj

### 3. Find the number of zeroes in all the columns

### 4. Find the number of null values in the dataset

### 5. Replace the zeroes with Nan values in selected attribute (say attribute 1 and 3)

### 6. Find the number of rows having missing values

### 7. Find the number of null values in a dataset

### 8. Discard the records with missing values

### 9. Find the number of records after discarding null values

### 10. Replace missing value with the mean and print the output

### 11. Replace missing value with the median and print the output

### 12. Create a dataframe and label the columns

### 13. Sample the dataset with and without replacement (20%data)

### 14. Normalize the dataset using z-score normalization

### 15. Find the outliers using z-score normalization

### 16. Normalize the dataset using min-max normalization

### 17. Write the code to discritize an attribute into 6 bins (third attribute)

### 18. Find the correlation coeffiecient